.infoCardHeadline {
    border: none;
    font-family: Comfortaa, sans-serif;
    color: #ffffff;
}
.infoCardContainer--infoFull {
    height: 100%;
}
.imageElementLink--logoMaior{
    display: contents;
}
.infoCardCallActionText {
    border: none;
    font-family: Comfortaa, sans-serif;
    color: #ffffff;
    font-size: 3rem;
}
.infoCardCallActionContainer :global(.vtex-a) {
    font-family: Comfortaa, sans-serif;
    color: #ffffff;
}
